.alerts{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    max-width: 20rem;
    z-index: 999;



    &__alert{
        position: relative;
        padding: .5rem 2rem;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 800;
        color: #FFF;
        text-decoration: none;	
        background-color: $main-color;
        border:none;
        border-bottom: 2px solid darken($main-color, 15%);
        cursor: pointer;
        transition: all .2s;
        padding: .5rem 1rem;
        margin-top: .1rem;
        line-height: 1.5rem;
        pointer-events: none;
        animation: hidden .2s ease-in 5s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

@keyframes hidden {
    to {
        opacity: 0;
    }
}
@-webkit-keyframes hidden {
    to {
        opacity: 0;
    }
}