{% extends "layout.html.twig" %}

{% block main %}



<div class="panel">

<h2>Lista</h2>
    <table class="table">

        <thead>
            <tr>  
                <th>Imie Nazwisko</th>
                <th>Email</th>
                <th>Opcje</th>
            </tr>
        </thead>

        <tbody>

            {% for user in users %}
            <tr>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td><a href="{{user.editUrl}}" class="link">Edytuj</a></td> 
            </tr>
            {% endfor %}

        </tbody>

    </table>
</div>


{% endblock %}