{% extends "layout.html.twig" %}

{% block main %}



<form method="post" action="/api/register" class="panel">

<h2>Rejestracja</h2>

    {% include 'form.html.twig' %}

    <div id="add_form">
        {% include 'form_add.html.twig' %}
    </div>

    <input type="hidden" name="event" value="register">
    <button class="ajx btn">Zarejestruj</button>


    {# 
- imie – obligatoryjne
- nazwisko – obligatoryjne
- email – obligatoryjne
- opis - opcjonalne
- stanowisko (select i 3 opcje do wyboru), w zależności od wybranej opcji wyświetlają się
różne dodatkowe pola formularza
• tester:
o systemy testujące – string
o systemy raportowe – string
o zna selenium - checkbox
• developer:
o środowiska ide – string
o języki programowania – string
o zna mysql - checkbox
• project manager:
o metodologie prowadzenia projektów – string
o systemy raportowe – string
o zna scrum – checkbox #}


</form>


{% endblock %}