{% extends "layout.html.twig" %}

{% block main %}



<form method="post" action="/api/register" class="panel">

<h2>Rejestracja</h2>

    <div class="input-group">
        <label class="input-group__label">Imie</label> 
        <input required name="first_name" type="text"  class="input-group__input">
        <span class="input-group__error"></span>
    </div>
    <div class="input-group">
        <label class="input-group__label">Nazwisko</label> 
        <input required name="last_name"  class="input-group__input">
        <span class="input-group__error"></span>
    </div>
    <div class="input-group">
        <label class="input-group__label">Email</label> 
        <input name="email"  required type="email" class="input-group__input">
        <span class="input-group__error"></span>
    </div>
    <div class="input-group">
        <label class="input-group__label">Opis</label> 
        <textarea name="description" class="input-group__input input-group__input--textara"></textarea>
        <span class="input-group__error"></span>
    </div>
    <div class="input-group">
        <label class="input-group__label">Stanowisko</label> 
        <select name="emplacement" class="input-group__input input-group__input--select"></select>
        <span class="input-group__error"></span>
    </div>

    <button class="ajx btn" type="submit">Zarejestruj</button>


    {# 
- imie – obligatoryjne
- nazwisko – obligatoryjne
- email – obligatoryjne
- opis - opcjonalne
- stanowisko (select i 3 opcje do wyboru), w zależności od wybranej opcji wyświetlają się
różne dodatkowe pola formularza
• tester:
o systemy testujące – string
o systemy raportowe – string
o zna selenium - checkbox
• developer:
o środowiska ide – string
o języki programowania – string
o zna mysql - checkbox
• project manager:
o metodologie prowadzenia projektów – string
o systemy raportowe – string
o zna scrum – checkbox #}


</form>


{% endblock %}